<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <style>
        .container {
            display: flex;
            flex-wrap: wrap;
            width: 455px;
            margin-top: 10px;
        }

        .cell {
            display: flex;
            justify-content: space-around;
            align-items: center; 
            width: 90px;
            height: 90px;
            border: 1px solid #aaa;
            margin-right: -1px;
            margin-bottom: -1px;
            font-size: 60px;
        }
        /*.cell:nth-child(3n) {
margin-right: 0;
}
.cell:nth-child(27n) {
margin-bottom: 0;
}*/

        .cell-move {
            transition: transform 1s;
        }

        .odd {
            background-color: #f3f3f9;
        }

        .upsidedown {
            -webkit-transform: rotate(-180deg);
        }

        .finished {
            color:aqua;
        }

        .blink_me {
            animation: blinker 2s linear infinite;
            text-shadow: 0px 2px 3px #666;
        }

        @keyframes blinker {  
            50% { opacity: 0; }
        }

    </style>
    <script src="https://unpkg.com/vue"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/4.14.1/lodash.min.js"></script>
</head>

<body>
    <center><div id="sudoku-demo" class="demo">
        <h1>Train the brain</h1>
        <p>Найди все числа по порядку.</p>

        <!-- <button @click="showme"> -->
         <button @click="shuffle" :disabled='disabled'> 
          Shuffle
        </button>
        <input type="checkbox" id="checkbox" v-model="checked"><label for="checkbox" style="margin-right: 10px;">Перевернуть</label><input type=button value="Запуск/Остановить" @click="StartStop"> 
        <!-- <input name="stopwatch" size=10 v-bind:value="readout"> -->
         <!-- <input name="stopwatch" size=10 v-bind:value="readout">  -->
         <br><span v-bind:class="{ blink_me:!clocktimer }">{{ readout }}</span>
        <span v-text="nextone <= 25 && clocktimer ? nextone : 'Done!'"></span>
        <!-- <span v-if="nextone < 25">Next one is: {{ nextone }}</span> -->
        <!-- <span v-else-if="nextone == 25">Done!</span> -->
        <!-- <p>{{ readout }} Next one is: {{ nextone }}</p> -->
        
        
        <transition-group name="cell" tag="div" class="container">
            <!-- <div v-for="cell in cells" @click="logcell" :key="cell.id" class="cell" v-bind:class="cellposition()">; -->
             <div v-for="cell in cells" @click="logcell" :key="cell.id" class="cell" v-bind:class="{ odd: cell.number % 2 == 0, upsidedown: checked }"> 
                {{ cell.number }}
            </div></center>
<script>
    var app = new Vue({
        el: '#sudoku-demo',
        data: {
            cells: Array.apply(null, { length: 25 })
                .map(function (_, index) {
                    return {
                        id: index,
                        number: index + 1
                    }
                }),
            disabled:false,
            nextone:"1",
            checked: true,
            base: 60, 
            clocktimer: null,
            dateObj: null,
            dh: null, 
            dm: null, 
            ds: null,
            ms: null, 
            readout:'', 
            h: 1,
            m: 1,
            tm: 1,
            s: 0,
            ts: 0,
            ms: 0,
            init: 0,
            // readout:'00:00:00.00',
            readout:'00:00.00',
        
        },
        methods: {
            // shuffle: function () {
            cellposition()
            {
                var randomArray = ['totheleft', 'totheright', 'upsidedown', ''];
                let result = _.sample(randomArray); 
                return result;
            },
            shuffle () {
                this.disabled = true;
                setTimeout(()=>{this.disabled = false},1200);
                this.ClearСlock();
                this.nextone = 1;
                this.cells = _.shuffle(this.cells);
                setTimeout(this.StartStop,1200);
            },
            ClearСlock() { 
                clearTimeout(this.clocktimer); 
                this.h = 1;
                this.m = 1;
                this.tm = 1;
                this.s = 0;
                this.ts = 0;
                this.ms = 0; 
                this.init = 0;
                this.readout='00:00.00'; 
                // this.readout='00:00:00.00'; 
                //document.MyForm.stopwatch.value = readout; 
                //document.MyForm.test.value = readout; 
            },
            StartTIME() { 
                var cdateObj = new Date(); 
                var t = (cdateObj.getTime() - this.dateObj.getTime()) - (this.s * 1000); 
                if (t > 999) { this.s++; } 
                if (this.s >= (this.m * this.base)) { 
                    this.ts = 0; 
                    this.m++; 
                } else { 
                    this.ts = parseInt((this.ms / 100) + this.s); 
                    if(this.ts >= this.base) { this.ts = this.ts -((this.m - 1) * this.base); } 
                } 
                if (this.m > (this.h * this.base)) { 
                    this.tm = 1; 
                    this.h++; 
                } else { 
                    this.tm = parseInt((this.ms / 100) + this.m); 
                    if(this.tm >= this.base) { this.tm = this.tm -((this.h - 1) * this.base); } 
                } 
                this.ms = Math.round(t / 10); 
                if (this.ms > 99) {this.ms = 0; } 
                if (this.ms == 0) { this.ms='00'; } 
                if (this.ms > 0 && this.ms <= 9) { this.ms = '0' + this.ms; } 
                if (this.ts > 0) { this.ds = this.ts; if (this.ts < 10) { this.ds = '0' + this.ts; }} else { this.ds = '00'; } 
                this.dm = this.tm - 1; 
                if (this.dm > 0) { if (this.dm < 10) { this.dm = '0' + this.dm; }} else { this.dm = '00'; } 
                this.dh = this.h - 1; 
                if (this.dh > 0) { if (this.dh < 10) { this.dh = '0' + this.dh; }} else { this.dh = '00'; } 
                // this.readout = this.dh + ':' + this.dm + ':' + this.ds + '.' + this.ms; 
                this.readout = this.dm + ':' + this.ds + '.' + this.ms; 
                //document.MyForm.stopwatch.value = readout; 
                //document.MyForm.test.value = readout; 
                this.clocktimer = setTimeout(this.StartTIME,1); 
            },
            StartStop() { 
                if (this.init == 0){ 
                    this.ClearСlock();
                    this.dateObj = new Date(); 
                    this.StartTIME(); 
                    this.init = 1; 
                } else { 
                    clearTimeout(this.clocktimer);
                    this.init = 0;
                } 
            },
            logcell(event){
                console.log(event.srcElement.innerText);
                if(event.srcElement.innerText == this.nextone && this.nextone < 25) this.nextone ++;
                if(event.srcElement.innerText == this.nextone && this.nextone == 25) {clearTimeout(this.clocktimer);this.clocktimer = null};

            }, 
        }
    })

</script>

</body>

</html>