body {
    font-family: Arial, sans-serif;
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

h1 {
    font-size: 18px;
    text-align: center;
}

table {
    border-collapse: collapse;
    width: 100%;
    margin-top: 20px;
    box-shadow: 0px 3px 8px 1px rgba(34, 60, 80, 0.2);
}

th, td {
    border: 1px solid #ccc;
    padding: 8px;
    text-align: center;
    word-break: break-word;
}

th {
    background-color: #f4f4f4;
}

/* Фиксированная ширина колонок */
/* Вторая колонка с номерами пар, без переноса по дефису */
td:nth-child(2),
th:nth-child(2) {
    width: 45%; /* Одинаковая ширина для этой колонки */
    word-wrap: break-word; /* Разрешаем перенос текста по пробелу */
    white-space: normal; /* Разрешаем перенос по пробелу */
    word-break: break-word; /* Разрешаем перенос по пробелу, но не по дефису */
}

td:nth-child(3),
th:nth-child(3) {
    width: 45%; /* Задаем фиксированную ширину для колонок с чекбоксами */
}

/* Чекбоксы: компактное отображение в строку */
td:nth-child(3) div {
    display: flex; /* Включаем флекс-блок для чекбоксов */
    flex-wrap: wrap; /* Позволяем перенос на новую строку только при нехватке места */
    gap: 10px; /* Задаем отступы между чекбоксами */
    justify-content: center; /* Центрируем чекбоксы по горизонтали */
}

td:nth-child(3) label {
    display: inline-block; /* Чекбокс с номером в одной строке */
    white-space: nowrap; /* Запрещаем перенос строки внутри одной метки */
}

.controls {
    margin-top: 10px;
}

.control-group {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
}

.control-label {
    font-size: 26px;
    flex: 1;
    text-align: center;
}

.control-buttons {
    display: flex;
    gap: 5px;
}

button {
    font-size: 25px;
    padding: 5px 20px;
    cursor: pointer;
    touch-action: manipulation;
    text-shadow: 2px 4px 4px rgba(0,0,0,0.45);
}

@media (max-width: 600px) {
    body {
        padding: 10px;
    }
    table {
        font-size: 14px;
    }
    th, td {
        padding: 6px;
    }
    button {
        font-size: 50px;
        padding: 15;
    }
    .control-label {
        font-size: 24px;
    }
}
